<!DOCTYPE html>
<html>

    <header>
            <meta charset="utf-8">
    </header>
    
    <body>
        <h1>Likelion</h1>
        <p>ㅇㅇㅇㅇ</p>
        <%#= 5.times.{puts "비온다"}%>
        <% 5.times do %>
        "비온다"
        <% end %>

    </body>

</html>
